.li-change {
  .grey {
    background-color: #777;
    border: none;
    height: 4%;
  }

  .blue {
    background-color: #3C5899;
    border: none;
    height: 10%;
  }
}

.logo-img img {
  height: 260%;
  width: auto;
}

.side-bar {
  height: 100%;
  border-right: solid 2px #777;
}

.side-bar li.selected {
  background-color:red;
  .active {
    background-color:red;
  }
}
