.li-change {
  .grey {
    background-color: #777;
    border: none;
    height: 4%;
  }
  .blue {
    background-color: #3C5899;
    border: none;
    height: 13.5%;
  }
}
.side-bar {
  height: 100%;
}