.li-change {
  .grey {
    background-color: #777;
    border: none;
    height: 4%;
  }

  .blue {
    background-color: #3C5899;
    border: none;
    height: 10%;
  }
}

.logo-img img {
  height: 260%;
  width: auto;
}

.side-bar {
  height: 100%;
  border-right: solid 2px #777;
}

.side-bar li.selected {
  background-color:red;
  .active {
    background-color:red;
  }
}



/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .hide-all {display:none;}
  .hide-tablet-landscape {display:none;}
  .hide-tablet {display:none;}
  .hide-desktop {display:none;}
  .show-mobile {display:block;}
}

/** Tablet **/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .hide-all {display:none;}
  .hide-mobile {display:none;}
  .hide-tablet-landscape {display:none;}
  .hide-desktop {display:none;}
  .show-tablet {display:block;}
}

/** Tablet (landscape) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
  .hide-all {display:none;}
  .hide-mobile {display:none;}
  .hide-tablet {display:none;}
  .hide-desktop {display:none;}
  .hide-tablet-landscape {display:block;}
}
