.no-margin-bottom
{
  margin-bottom: 0 !important;
}

.push-margin-top
{
  margin-bottom: 96px !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.side-bar {
  height: 90%;
  border: 1px solid rgb(0, 0, 0);
}

.top-menu {
  border: 0;
}
