.no-margin-bottom
{
  margin-bottom: 0 !important;
}

.no-padding-right
{
  padding-right: 0 !important;
}

.no-padding-left
{
  padding-left: 0 !important;
}

.push-top
{
  margin-top: 72px;
}

.push-top-large
{
  padding-top: 96px !important;
}

.top-menu {
  border: 0;
}
