.section:not(:first-child) {
  display: none;
}

.repTB {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}

.repTB th, td {
  padding: 8px;
  text-align: left;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.repTB th {
  background-color: #dde3e9;
  color: white;
}

.repTB tr:hover{
  background-color:#dde3e9;
}



