.section:not(:first-child) {
  transition: background-color 0.5s ease;
  display: none;
}

.repTB {
  border-collapse: collapse;
  width: 100%;
}

.repTB th td {
  transition: background-color 0.5s ease;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color:#dde3e9
}

.repTB th {
  background-color: #3b5998;
  color: white;
}

.repTB tr:hover{background-color:#fff}



